.slipit {
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0px);
    transition: 100ms ease all;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__left {
    background: #000000;
    color:#fff;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 15px;
  }

  &__right {
    background: #000000;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 15px;
  }
}
